.body{
	margin: 0;
	padding-right: 24%;
	background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.CartContainer{
	width: 200%;
	height: 90%;
    margin-left: 25%;
	background-color: #0c0c0c;
    border-radius: 0px;
    box-shadow: 0px 10px 20px #1687d933;
}

.Header{
	margin: auto;
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.Heading{
	font-size: 30px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #d8dbdf;
    text-align: center;
}

.Action{
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
	border-bottom: 1px solid #E44C4C;
}

.Cart-Items{
	margin: auto;
	width: 90%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.image-box{
	width: 15%;
	text-align: center;
}
.about{
	height: 100%;
	width: 24%;
}
.title1{
	padding-top: 10px;
	line-height: 10px;
	font-size: 30px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #eeeaea;
    position:absolute;
    margin-top:2%;

}
.title2{
   padding-top: 10px;
	line-height: 10px;
	font-size: 32px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #e9e4e4;
    position:absolute;
    
    margin-top:2%;

}
.subtitle{
	line-height: 100px;
	font-size: 18px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #f3eeee;
    position:absolute;
    margin-bottom:5%;
    margin-top:2%;

}
.green{
    padding-bottom:7%;
    padding-right:80%;
    margin-top:65%
    

}
.red{
    padding-bottom:7%;
    padding-right:80%;
    margin-top:65%
}

.counter{
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #111010;
	cursor: pointer;
}
.count{
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #e2dede;
}

.prices{
	height: 100%;
	text-align: right;
}
.amount{
	padding-top: 20px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #f2eaea;
}
.save{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #1687d9;
	cursor: pointer;
}
.remove{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #E44C4C;
	cursor: pointer;
}

.pad{
	margin-top: 5px;
}

hr{
	width: 66%;
	float: right;
	margin-right: 5%;
}
.checkout{
	float: right;
	margin-right: 5%;
	width: 28%;
}
.total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.Subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #ece7e7;
}
.items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #ede4e4;
	line-height: 10px;
}
.total-amount{
	font-size: 25px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #ebe5e5;
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #f4511e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 10px;
	width: 200px;
	height: 50px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 50px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }
.bac{
    top: 13px;
    left: 0px;
    width: 254px;
    height: 215px;
    position: absolute;
    border-color: transparent;
  } 