.desktop9-container {
    min-height: 100vh;
  }
  .desktop9-desktop9 {
    width: 100%;
    height: 1024px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
  }
  .desktop9-images3a9f-cq-ry-ztransformed1 {
    left: -50px;
    width: 1452px;
    bottom: -7px;
    height: 1024px;
    position: absolute;
    border-color: transparent;
  }
  .desktop9-text {
    top: 85px;
    left: 92px;
    color: rgba(255, 255, 255, 1);
    width: 710px;
    height: auto;
    margin: auto;
    position: absolute;
    font-size: 36px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Basic;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop9-text47 {
    top: 9px;
    left: 450px;
    color: rgba(255, 255, 255, 1);
    width: 612px;
    height: auto;
    position: absolute;
    font-size: 60px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Aclonica;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop9-text51 {
    top: 944px;
    left: 144px;
    color: rgba(255, 255, 255, 1);
    width: 161px;
    height: auto;
    position: absolute;
    font-size: 54px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: Chilanka;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop9-text31 {
    top: 700px;
    left: 250px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 29px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop9-text32 {
    top: 700px;
    left: 1100px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 29px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .desktop9-text49 {
    top: 700px;
    left: 629px;
    color: rgba(255, 255, 255, 1);
    width: 210px;
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: italic;
    text-align: left;
    font-family: Chilanka;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }